@import "bootstrap-sprockets";
@import "bootstrap";

.circular {
	width: 600px;
	height: 600px;
	border-radius: 30px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url('http://thecatapi.com/api/images/get?format=src') no-repeat;*/
	}

#text, #match{
font-family: 'Architects Daughter', cursive;
font-size: 200px;
}

#text2{
	font-family: 'Architects Daughter', cursive;
	font-size: 70px;
}

p{
font-family: 'Comfortaa', cursive;
font-size: 4.5em;
}

#match{
	display:none;
	// position: absolute;
}

#pic{
	position: absolute;
	top:450px;
	left: 200px;
}

.info{
	padding-top: 100px;
	font-size: 2em;
	font-family: 'Comfortaa', cursive;
}

// btn{
// 	height:100px;
// }
#woof{
	margin-top: 640px;
margin-left: 285px;
	// padding-top: 200px;
}

#meow{
	// padding-left: 100px;
	margin-top: -25px;
	margin-left: 286px;
}

btn{
}
