@import "bootstrap-sprockets";
@import "bootstrap";

.circular {
	width: 600px;
	height: 600px;
	border-radius: 30px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url('http://thecatapi.com/api/images/get?format=src') no-repeat;*/
	}

	#text{
		margin-left: 15px;
		margin-bottom: -10px;
	}

	#name{
		margin-left: 163px;
	}

#text, #match{
font-family: 'Architects Daughter', cursive;
font-size: 180px;
color: red;
}

#text2{
	font-family: 'Architects Daughter', cursive;
	font-size: 70px;
}

p{
font-family: 'Comfortaa', cursive;
font-size: 4.5em;
}

#match{
	display:none;
	font-size: 10px;
	padding-top: 167px;
	// position: absolute;
	margin-bottom: -400px;
}

#pic{
	position: absolute;
	// top:250px;
	// left: 200px;
}

.info{
	padding-top: 40px;
	font-size: 2em;
	font-family: 'Comfortaa', cursive;
	// border-color: red;
	// border-style: dashed;
}

// btn{
// 	height:100px;
// }
#woof{
	margin-top: 599px;
	margin-left: 0px;
	// padding-top: 200px;
}

#meow{
	// padding-left: 100px;
	margin-top: -95px;
	margin-left: 125px;
}

img{
	height:190px;
}

#bold{
	font-size: 1.1em;
	padding-left: 40px;
}

#morebutton{
	padding-bottom: 30px;
	padding-left: 30px;
	margin-left: 140px;
	font-size: 35px;
	padding-top: 30px;
}

#mapsbutton{
		padding-bottom: 30px;
    padding-left: 38px;
		padding-right: 30px;
    margin-left: 500px;
    /* margin-bottom: 3px; */
    font-size: 35px;
    padding-top: 30px;
    margin-top: -120px;
}

body {
   background-image: image-url('swirl_pattern.png');
}

#stuff{
	// border-style: dashed;
	// border-color: red;
	padding-left: 20px;

}

#yo{
	// border-style: groove;
	// border-color: red;
	color: white;
	background: red;
	border-radius: 30px;
	margin-right: -30px;
	margin-left: 0px;
	padding-left: 50px;
}

#blurb{
	font-size: 2.6em;
	padding-left: 45px;
	margin-top: 30px;
}
